<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Goals</title>

  <%- include("partials/navbar-2") -%>

    <main class="container-fluid goals">

      <h1 class="big-heading">Goals</h1>

      <p>Examples: go on a walk, draw a picture, write a story, call a loved one</p>

      <br><br>

      <div class="box">

        <% for (i=0; i < goals.length; i++) { %>

          <form action="complete-goal" method="post">

            <div class="goal-cell">

              <input class="checkbox" type="checkbox" onChange="this.form.submit()" name="goalNum" value="<%= i %>">

              <p class="goal">

                <%= goals[i] %>

              </p>

            </div>

          </form>

          <% } %>

            <form class="goal-cell" action="/goals" method="post">

              <input class="goal-input" type="text" placeholder="New Goal" name="goalTitle" required autofocus>

              <button class="add-btn" type="submit">+</button>

            </form>

      </div>

      <br>

      <% if (goalEntered) { %>

        <div class="alert alert-success alert-dismissible">

          <p><strong>Entered goal!</strong>
            <%= goal %>
          </p>

          <button type="button" class="close" data-dismiss="alert" aria-label="Close">

            <span aria-hidden="true">&times;</span>

          </button>

        </div>

        <br>

        <% } %>

          <% if (goalCompleted) { %>

            <div class="alert alert-success alert-dismissible">

              <p><strong>Congrats</strong> on completing your goal!</p>

              <button type="button" class="close" data-dismiss="alert" aria-label="Close">

                <span aria-hidden="true">&times;</span>

              </button>

            </div>

            <br>

            <% } %>

    </main>

    <br><br><br><br><br>

    <%- include('partials/footer') -%>