<%- include("partials/header-2") -%>

    <br><br>

    <main>

        <h1>Prompts</h1>

        <br><br>

        <form action="help" method="post">

            <div class="form-group">

                <h4>
                    <%= promptTitle %>
                </h4>

                <br><br>

                <input type="hidden" name="promptTitle" value="<%= promptTitle %>">

                <input type="text" class="form-control textbox" placeholder="Enter prompt" name="prompt" minlength="5"
                    required autofocus>

            </div>

            <br>

            <% if (promptEntered) { %>

                <div class="alert alert-success alert-dismissible fade show">
                    
                    Saved prompt! View it <a href="prompts#<%= promptID %>" class="alert-link">here</a>
                    
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    
                        <span aria-hidden="true">&times;</span>
                    
                    </button>

                </div>

                <br>

                <% } %>

                    <br>

                    <button type="submit" class="btn btn-dark btn-lg save-btn">Save prompt</button>
                    <a href="prompts" class="btn btn-outline-primary btn-lg" role="button">Load prompts</a>

        </form>

    </main>

    <br><br><br>

    <%- include("partials/footer") -%>