<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Journaling</title>

    <%- include("partials/navbar-2") -%>

        <main class="container-fluid">

            <form action="journals" class="inline-form" method="post">

                <div class="form-group">

                    <h2 class="section-heading">
                        <%= journalTitle %>
                    </h2>

                    <input type="hidden" name="journalTitle" value="<%= journalTitle %>">

                    <textarea class="form-control textbox" placeholder="Enter journal" name="journal" minlength="5"
                        required autofocus></textarea>

                </div>

                <br>

                <% if (journalEntered) { %>

                    <div class="alert alert-success alert-dismissible">

                        <p>Saved journal! View it <a href="journals#<%= journalID %>" class="alert-link">here</a></p>

                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">

                            <span aria-hidden="true">&times;</span>

                        </button>

                    </div>

                    <br>

                    <% } %>

                        <button type="submit" class="btn btn-dark btn-lg save-btn">Save</button>

            </form>

            <% if (showEmailBtn) { %>

                <form action="mailto:user@email.com" class="inline-form" method="post" enctype="text/plain">

                    <input type="hidden" name="title" value="<%= lastJournalTitle %>">
                    <input type="hidden" name="content" value="<%= journals[journals.length - 1].content %>">
                    <button type="submit" class="btn btn-dark btn-lg">Email last journal</button>

                </form>

                <% } %>

                    <br><br><br>

                    <h2 class="section-heading">Saved Journals</h2>

                    <% if (journals.length < 1) { %>

                        <h3>No saved journals. Click the button above to enter a new journal.</h3>

                        <br>

                        <% } else { %>

                            <ul class="journals-ul">
                                <% journals.forEach(journal=> { %>

                                    <li class="journal-title" id="<%= journal._id %>">

                                        <h3>
                                            <%= journal.title %> - <%= journal.date %>
                                        </h3>

                                        <br>

                                        <ul>
                                            <li class="journal-content">

                                                <p>
                                                    <%= journal.content %>
                                                </p>

                                            </li>
                                        </ul>

                                        <br><br>

                                    </li>

                                    <% }) %>

                            </ul>

                            <% } %>

        </main>

        <br><br><br>

        <%- include("partials/footer") -%>