<%- include("partials/header-2") -%>

    <main class="container-fluid">

        <form action="journals" method="post">

            <div class="form-group">

                <h2 class="future-sec-heading">
                    <%= journalTitle %>
                </h2>

                <br><br>

                <input type="hidden" name="journalTitle" value="<%= journalTitle %>">

                <textarea class="form-control textbox" placeholder="Enter journal" name="journal" minlength="5"
                    required autofocus></textarea>

            </div>

            <br>

            <% if (journalEntered) { %>

                <div class="alert alert-success alert-dismissible fade show">

                    <p>Saved journal! View it <a href="journals#<%= journalID %>" class="alert-link">here</a></p>

                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">

                        <span aria-hidden="true">&times;</span>

                    </button>

                </div>

                <br>

                <% } %>

                    <button type="submit" class="btn btn-dark btn-lg">Save journal</button>

        </form>

        <br><br>

        <h2 class="future-sec-heading">Saved journals:</h2>

        <% if (journals.length < 1) { %>

            <br><br>

            <h3>No saved journals. Click the button above to enter new journal.</h3>

            <br>

            <% } else { %>

                <br><br>

                <ul class="journals-ul">
                    <% journals.forEach(journal=> { %>

                        <li class="journal-title" id="<%= journal._id %>">
                            <h3>
                                <%= journal.title %> - <%= journal.date %>

                                    <br><br>

                                    <ul>
                                        <li class="journal-content">
                                            <%= journal.content %>
                                        </li>
                                    </ul>
                            </h3>
                        </li>

                        <br><br>

                        <% }) %>

                </ul>

                <% } %>

    </main>

    <%- include("partials/footer") -%>