<%- include("partials/header-2") -%>

    <main class="container-fluid">

        <form action="journals" class="inline-form" method="post">

            <div class="form-group">

                <h2 class="future-sec-heading">
                    <%= journalTitle %>
                </h2>

                <br>

                <input type="hidden" name="journalTitle" value="<%= journalTitle %>">

                <textarea class="form-control textbox" placeholder="Enter journal" name="journal" minlength="5" required
                    autofocus></textarea>

            </div>

            <br>

            <% if (journalEntered) { %>

                <div class="alert alert-success alert-dismissible">

                    <p>Saved journal! View it <a href="journals#<%= journalID %>" class="alert-link">here</a></p>

                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">

                        <span aria-hidden="true">&times;</span>

                    </button>

                </div>

                <br>

                <% } %>

                    <button type="submit" class="btn btn-dark btn-lg save-btn">Save journal</button>

        </form>

        <% if (showEmailBtn) { %>

            <form action="mailto:user@email.com" class="inline-form" method="post" enctype="text/plain">

                <input type="hidden" name="journalTitle" value="<%= journalTitle %>">
                <input type="hidden" name="journalContent" value="<%= journals[journals.length - 1].content %>">
                <button type="submit" class="btn btn-dark btn-lg">Email last journal</button>

            </form>

            <% } %>


                <br><br><br><br>

                <h2 class="future-sec-heading">Saved journals:</h2>

                <br>

                <% if (journals.length < 1) { %>

                    <h3>No saved journals. Click the button above to enter new journal.</h3>

                    <br>

                    <% } else { %>

                        <ul class="journals-ul">
                            <% journals.forEach(journal=> { %>

                                <li class="journal-title" id="<%= journal._id %>">
                                    <h3>
                                        <%= journal.title %> - <%= journal.date %>

                                                <br><br>

                                                <ul>
                                                    <li class="journal-content">
                                                        <%= journal.content %>
                                                    </li>
                                                </ul>

                                                <br><br>

                                    </h3>

                                </li>

                                <% }) %>

                        </ul>

                        <% } %>

    </main>

    <br><br><br>

    <%- include("partials/footer") -%>